<div class="hero-unit">
  <h1>Bloccit</h1>
  <p>Bloccit is a resource for sharing links with your friends!</p>
  <p>
      <%= link_to "Sign In", new_user_session_path, class: 'btn btn-primary btn-large' %> or 
      <%= link_to "Sign Up", new_user_registration_path, class: 'btn btn-primary btn-large' %> today!
  </p>
</div>

<div class="row">
  <div class="span4">
    <h2>Bloccizzle is the SHIZZLE!!</h2>
    <p>You've never peeped such a phat application up in yo' entire game. You'll never visit another Bloccit joint again!</p>
  </div>
  <div class="span4">
    <h2>Our shizz is phat</h2>
    <p>This is tha coolest application you gonna eva use. Yo ass be thinkin other joints is cool, biatch? Think again n' again n' again mah playa hommie! </p>
  </div>
  <div class="span4">
    <h2>WEST SIIIIIDE</h2>
    <p>Welcome to Atlanta where the playaz play - and we ride on them streets like every day.</p>
  </div>
</div>